#map {
    height: 500px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.info-legend {
    background: white;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: left;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.dot.red { background-color: #e74c3c; }
.dot.yellow { background-color: #f1c40f; }
.dot.green { background-color: #2ecc71; }

/* Stilizare buton Instagram */
.instagram-button {
    display: inline-flex;
    align-items: center;
    background-color: rgba(225, 48, 108, 0.4); /* Fundal Instagram cu transparență */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; /* Text mai mic */
    transition: 0.3s;
    margin-top: 20px;
}

.instagram-button img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.instagram-button:hover {
    background-color: rgba(196, 45, 99, 0.9); /* Ușor mai închis la hover */
}

.center {
    text-align: center;
    margin-top: 20px;
}
