#map {
    height: 500px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 50px; /* Spațiu după hartă */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* Stilizare subsol gri */
.footer {
    background-color: rgba(128, 128, 128, 0.5); /* Gri aproape transparent */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Stilizare buton Instagram */
.instagram-button {
    display: inline-flex;
    align-items: center;
    background-color: rgba(225, 48, 108, 0.3); /* Fundal transparent */
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
    margin-bottom: 10px;
}

.instagram-button img {
    margin-right: 8px;
    width: 18px;
    height: 18px;
}

.instagram-button:hover {
    background-color: rgba(196, 45, 99, 0.5); /* Mai vizibil la hover */
}

/* Stilizare text copyright */
.copyright-text {
    font-size: 12px;
    color: white;
    max-width: 600px;
    margin-top: 10px;
}
